:root {
  --main-bg-color: rgb(74, 118, 184);
}

body {
  background: var(--main-bg-color);
}

p {
  line-height: 0.9em;
}

button {
  outline-style: none;
}

#header {
  color: white;
  text-align: center;
}

.pageTitle {
  font-size: 30px;
  text-transform: uppercase;
}

.pageTitle#firstLineHeader {
  margin-top: 20px;
}

.pageTitle#thirdLineHeader {
  margin-bottom: 22px;
}

#rgbCombinaison {
  font-size: 55px;
}

.barButtonsContainer {
  text-align: center;
  background: white;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* astylelintrclign vertical */
}

.navBarButtons {
  background: white;
  border: 0;
  text-transform: uppercase;
  color: var(--main-bg-color);
  font-size: 25px;
  font-weight: bold;
}

.navBarButtons:hover {
  background: var(--main-bg-color);
  color: white;
}

.difficultyModeSelected {
  background: var(--main-bg-color);
  color: white;
}

.resultOfATry {
  text-align: center;
}

.randomColorsContainer {
  text-align: center;
}

#backgroundGridElement {
  background: #232323;
  height: 100vh;
}

.hardModeRow {
  display: none;
}

.squareColorContainer {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 20px;
}

.squareColor {
  border: 1px solid black;
  border-radius: 17%;
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.squareClickedIsFalse {
  display: none;
}

/* Animations */
.makeSquareDisapear {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: disapearSmoothly;
}

@keyframes disapearSmoothly {
  from {
    display: block;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}
